body{
  background: linear-gradient(#78C5EF, #51A0D5);
  color:white;
}
.container{
  width:100vw;
  height:100vh;
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas:
    "icons header header header header header header header"
    "content content content content content content content content"
    "footer footer footer footer footer footer footer footer";
}
.icons{
  grid-area:icons;
  padding:5px;
}
.header{
  grid-area:icons;
  padding-left:90px;
}
.content{
  grid-area:content;
  margin:auto;
  font-size:40px;
  padding:0;
}
.footer{
  grid-area:footer;
  padding-bottom:5px;
}
.temperature{
  font-size:50px;
  display:inline;
}
.city{
  padding-left:0x;
  margin-top:-10px;
}
#currentWeather{
  text-transform:capitalize;
}
/* @media only screen and (max-width: 768px) {
    body {
        background-color: lightblue;
    }
} */
